.footer {
    padding: 3rem 0;
    background-color: #f9f9f9;
    margin-top: auto;
}

@media (prefers-color-scheme: dark) {
    .footer {
        background-color: #111;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    opacity: 0.6;
}

.socials {
    display: flex;
    gap: 1.5rem;
}